@using FormulaBlazor.Features.Constructors.Models
@using FormulaBlazor.Utilities
@if (ConstructorStandingsList is not null)
{
    <MudPaper Elevation="2" Class="pa-4" Style="height: 300px; overflow: hidden">
        <MudText Typo="Typo.h6">
            Constructor Standings
        </MudText>
        <MudDivider/>
        <MudList>
            @foreach (var con in Constructors)
            {
                <MudListItem Dense="true" DisableGutters="true">
                    <div class="d-flex justify-space-between">
                        <div class="d-flex">
                            <div class="mt-1">
                                <MudAvatar Image="@ImageUtilities.GetImageSource(ImageType.Logos, con.Constructor.ConstructorId)"/>
                            </div>
                            <div class="ml-4">
                                <MudText>@con.Constructor.Name</MudText>
                                <MudText Typo="Typo.body2">@con.Constructor.Nationality</MudText>
                            </div>
                        </div>
                        <div>
                            <MudText>@con.Points pts</MudText>
                        </div>
                    </div>
                </MudListItem>
            }
        </MudList>
        <div class="d-flex justify-end">
            <MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.ArrowRight">
                See complete standings
            </MudButton>
        </div>
    </MudPaper>   
}
else
{
    <MinicardSkeleton/>
}

@code
{
    [Parameter] public ConstructorStandingsList? ConstructorStandingsList { get; set; }
    private List<ConstructorStanding> Constructors => ConstructorStandingsList.ConstructorStandings.Take(3).ToList();
}
