@page "/result/{year}/{round}"

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-4">
            <div class="d-flex justify-space-around mb-2">
                <h1>Result - Round @Round - Season @Year</h1>
            </div>
    <MudPaper Class="rounded-lg pa-2" Elevation="6">
        <MudTabs Centered="true" Elevation="0" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Race">
                <RaceResults Year="@Year" Round="@Round"/>
            </MudTabPanel>
            <MudTabPanel Text="Qualifying">
                <QualifyingResults Year="@Year" Round="@Round"/>
            </MudTabPanel>
        </MudTabs>
    </MudPaper>
</MudContainer>
