@using FormulaBlazor.Utilities
@using FormulaBlazor.Features.Common.Ergast.Models
@using FormulaBlazor.Features.Results.Models
@using System.Text.Json
@using FormulaBlazor.Features.Common.Ergast
<MudPaper Style="overflow: scroll" Elevation="0">
    @if (RaceTable is not null)
    {
        <MudSimpleTable Striped="true" Hover="true" Style="overflow-x: auto;">
            <thead>
            <tr>
                @foreach (var h in headings)
                {
                    <th>@h</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var x in RaceTable.Races[0].Results)
            {
                <tr>
                    <td>@x.Position</td>
                    <td>@x.Driver.PermanentNumber</td>
                    <td>@x.Driver.GivenName @x.Driver.FamilyName</td>
                    <td>@x.Constructor.Name</td>
                    <td>@x.Laps</td>
                    <td>@(x.PositionText == "R" || x.Time is null ? "DNF" : x.Time.Time)</td>
                    <td>@x.Points</td>
                </tr>
            }
            </tbody>
        </MudSimpleTable>   
    } else if (loadFailed)
    {
        <h1>error sorry</h1>
    }
    else
    {
        <h1>loading</h1>
    }
</MudPaper>

@code {
    
    private RaceTable? RaceTable { get; set; }
    private bool loadFailed;
    [Inject] private IBaseErgastClient Client { get; set; } 

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var data = await Client.GetAsync<RaceResultsResponse>($"{Year}/{Round}/results.json");
            var result = data.MrData.RaceTable;
            RaceTable = result;
            loadFailed = false;
        }
        catch (Exception e)
        {
            loadFailed = true;
            Console.WriteLine(e);
            throw;
        }

        await base.OnParametersSetAsync();
    }

    [Parameter] public string Year { get; set; }
    [Parameter] public string Round { get; set; }
    string[] headings = { "POS", "NO", "DRIVER", "CAR", "LAPS", "TIME/RETIRED", "PTS" };
}